@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 100;
  src: url("./Lato-Thin.ttf") format('truetype');
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 100;
  src: url("./Lato-ThinItalic.ttf") format('truetype');
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("./Lato-Light.ttf") format('truetype');
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 300;
  src: url("./Lato-LightItalic.ttf") format('truetype');
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("./Lato-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: url("./Lato-Italic.ttf") format('truetype');
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("./Lato-Bold.ttf") format('truetype');
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 700;
  src: url("./Lato-BoldItalic.ttf") format('truetype');
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("./Lato-Black.ttf") format('truetype');
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 900;
  src: url("./Lato-BlackItalic.ttf") format('truetype');
}

:root {
  --animation-btn: .3s;
}

.typography {
  font-family: Lato,Helvetica,Arial,sans-serif;
  transition-duration: .3s;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.typography.h2 {
  --tw-text-opacity: 1;
  color: rgb(85 85 85/var(--tw-text-opacity));
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.25rem;
  line-height: 1.375;
}

.typography.primaryg {
  --tw-gradient-from: #ffcf00 var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(255,207,0,0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
  --tw-gradient-to: #fa9200 var(--tw-gradient-to-position);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to bottom right,var(--tw-gradient-stops));
  font-weight: 600;
}

.typography.body {
  --tw-text-opacity: 1;
  font-family: Lato,Helvetica,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  line-height: 1.5;
  color: rgb(85 85 85/var(--tw-text-opacity));
  letter-spacing: 0;
  text-transform: none;
}

.typography.gray {
  --tw-text-opacity: 1!important;
  color: rgb(181 181 181/var(--tw-text-opacity))!important;
}

.typography.subheadline {
  --tw-text-opacity: 1;
  color: rgb(119 119 119/var(--tw-text-opacity));
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
  line-height: 1.5;
}

.divider-vertical {
  height: 1rem;
  margin: 1rem 0;
  width: auto;
  flex-direction: row;
}

.divider-vertical:after, .divider-vertical:before {
  height: .125rem;
  width: 100%;
}

.divider {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  height: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  white-space: nowrap;
}

.divider.divider-vertical:after, .divider.divider-vertical:before {
  height: 1px;
}

.lg-textbox{
  --tw-text-opacity: 1;
  align-items: center;
  border-radius: .5rem;
  border-width: 1px;
  color: rgb(119 119 119/var(--tw-text-opacity));
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  /* outline: 2px solid transparent; */
  /* outline-offset: 2px; */
  overflow: hidden;
  padding: .75rem 1rem;
  transition-duration: .3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.lg-textbox.white {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-shadow: inset 0px 2px 32px rgba(0,0,0,.04);
  --tw-shadow-colored: inset 0px 2px 32px var(--tw-shadow-color);
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
  border-color: rgb(238 238 238/var(--tw-border-opacity));
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

.btn {
  flex-wrap: nowrap;
  font-size: 1rem;
  line-height: 1.5rem;
  pointer-events: auto;
  white-space: nowrap;
  @apply text-white;
}

.btn, .btn:focus {
  outline: 2px solid transparent!important;
  outline-offset: 2px!important;
}

.btn-contained {
  flex-wrap: nowrap;
}

.btn-contained, .btn-contained:active {
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

.btn-contained.primary {
  --tw-gradient-from: #ffcf00 var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(255,207,0,0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
  --tw-gradient-to: #fa9200 var(--tw-gradient-to-position);
  height: 3rem;
}

.btn-contained.info, .btn-contained.primary {
  background-image: linear-gradient(to bottom right,var(--tw-gradient-stops));
}

.btn-md {
  min-height: 3rem;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.btn {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  /* animation: button-pop var(--animation-btn,.25s) ease-out; */
  background-color: hsl(var(--n)/var(--tw-bg-opacity));
  border-color: none;
  border-radius: var(--rounded-btn,.5rem);
  display: inline-flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  font-size: .875rem;
  font-weight: 600;
  height: 3rem;
  line-height: 1.25rem;
  line-height: 1em;
  min-height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  text-decoration-line: none;
  transition-duration: .2s;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.btm-nav>*, .btn {
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

input:focus {
  outline: none;
}

/* @keyframes button-pop {
  0% {
    transform: scale(var(--btn-focus-scale,.95));
  }
  40% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
} */